astunparse==1.6.3
azure-mgmt-cosmosdb==0.16.0
bump2version==1.0.1
cached-property==1.5.2
flatbuffers==2.0
google-auth-oauthlib==0.4.6
hyperopt==0.2.7
invoke==1.6.0
jupyter==1.0.0
jupyterlab==3.2.5
jupytext==1.13.4
keras==2.7.0
latex==0.7.0
libclang==12.0.0
locust==1.6.0
pipdeptree==2.2.0
pylint==2.12.2
scrapbook==0.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-io-gcs-filesystem==0.23.1
tf-slim==1.1.0
torch==1.10.1
